<!DOCTYPE HTML>
<head>
	<meta charset="UTF-8">
	<title>Likelion</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:title" content="멋쟁이 사자처럼" />
  <meta property="og:site_name" content="내 회사 한번 가져봐야 하지 않겠나?" />
  <meta property="og:image" content="http://likelion.net/images/likelion.png" />
  <meta property="og:url" content="http://likelion.net/" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="149190165235116" />
  <meta property="og:description" content="나만의 웹/앱 서비스를 갖고 싶은 비전공자 대학생에게 프로그래밍 실력을 갖추게 할 슈퍼 하드 집중 포커스 트레이닝이 시작된다."/>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/images/favicon.ico" />
	
	<!-- CSS Responsive Framework Skeleton -->
	<link rel="stylesheet" href="css/skeleton.css">
	
	<!-- CSS Styles -->	
	<link rel="stylesheet" href="css/style.css">
	
	<!-- Fullscreen Slider -->
	<link rel="stylesheet" href="css/supersized.css">
	<link rel="stylesheet" href="css/supersized.shutter.css">
	
	<!-- Fancybox -->	
	<link rel="stylesheet" href="css/jquery.fancybox.css">
	
	<!-- Icons -->	
	<link rel="stylesheet" href="css/font-awesome.css">
	
	<!-- Flexslider -->	
	<link rel="stylesheet" href="css/flexslider.css">
	
	<!-- Media Queries -->	
	<link rel="stylesheet" href="css/media.css">
	
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37820043-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>

	<!-- Start Homepage -->
	<div id="homepage">
		
		<div class="container">
      <!--
			<div class="sixteen columns">
				<img alt="" class="logo" src="images/likelion-logo-small.png" />
			</div>
      -->
			
			<div class="slider-text">
				<div class="sixteen columns">
					<div class="line"></div>
    <!--FACEBOOK-->
    <div id="facebook_division" style="margin-bottom:5px;margin-left:5px;">
      <div class="fb-like" data-href="http://likelion.net" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
    </div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=149190165235116";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!--FACEBOOK-->
				</div>
				
				<div class="twelve columns">
					<div id="slidecaption"></div>
				</div>
		
        <!--
				<div class="four columns">
					<a id="prevslide" class="load-item"><i class="icon-chevron-left"></i></a>
					<a id="nextslide" class="load-item"><i class="icon-chevron-right"></i></a>
				</div>
        -->

			</div>
			
		</div>
	</div>
	<!-- End Homepage -->
	
	
	<!-- Start Navigation -->
	<nav>
	
		<div class="container">
			
			<div class="thirteen columns">
				
				<!-- Start Nav Links -->
				<ul id="nav" class="links">
          <li class="current"><a href="#about">About</a></li>
					<li><a href="#founders">Founders</a></li>
					<li><a href="#members">Members</a></li>
					<li><a href="#sponsor">Sponsor</a></li>
					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="#contact">Contact</a></li>
          <li><a class="to-top" href="#homepage"><i class="icon-chevron-up"></i><span>Home</span></a></li>
				</ul>
				<!-- End Nav Links -->
				
			</div>
			
			<div class="three columns">
			
				<!-- Social Icons -->	
				<ul class="social-icons">
					<li><a href="//facebook.com/likelion.net" target="_blank"><i class="icon-facebook"></i></a></li>
				</ul>
				<!-- End Icons -->
			</div>
		</div>
	</nav>
	<!-- End Navigation -->	
	
	
	<!-- Start About Page -->	
	<div id="about" class="page">
	
		<div class="container">
			<div class="sixteen columns">
				<h1>About</h1>
				<div class="one-text">
          <p>기술적 장벽때문에 본인의 생각을 세상 밖으로 표현하지 못하신 분들과 감동의 순간을 만들어 갑니다. 프로그래밍 경험 필요 없고, 심지어 컴맹이라도 상관없습니다. 기술적인 부분은 저희가 쌓아드립니다. 여러분이 집중 해야 할 일은 곧 세상에 태어날 여러분의 생각을 다듬는 일 입니다.</p>
          <p>2013년 서울대에서 처음 시작한 멋쟁이 사자처럼은 2014년에 수도권 지역 확장을 통해서 100여명의 대학생들과 함께 하고 있으며, 온라인 프로그래밍 교육 플랫폼 개발도 진행하고 있습니다.</p>
          <hr>
				</div>
			</div> 
			
			<!-- Start Icons -->
			<div class="service one-third column">
				<h3>Learning</h3>
				<div class="icon" style="background-image: url(./images/icons/learn-icon.png)"></div>
				<p class="description">HTML/CSS부터 jQuery와 같은 프론트엔드 기술, python과 같은 서버사이드 기술, Flask와 같은 Web Framework를 두 달 동안 배웁니다.</p>
        <p class="description">집중력을 두 달 동안 발휘해봅시다. 쉽진 않을 겁니다. 분명 중간에 그만두고 싶은 순간이 올 겁니다. 하지만 배워놓으면, 인생에 날개가 달릴 겁니다.</p>
			</div>
					
			<div class="service one-third column">
				<h3>Programming</h3>
				<div class="icon" style="background-image: url(./images/icons/prog-icon.png)"></div>
				<p class="description">평소에 "이런 IT 서비스는 꼭 만들어 보고 싶었어."라고 생각했던 것들을 본인이 직접 구현합니다.</p>
        <p class="description">배운 내용을 기초로 자신의 아이디어를 구현하는 과정에서 더욱 많은 학습을 스스로 하게 됩니다. 가장 빠르게 목표에 도달할 수 있도록 멋쟁이 사자처럼 선생님들이 도와드립니다.</p>
			</div>
					
			<div class="service one-third column">
				<h3>Publishing</h3>
				<div class="icon" style="background-image: url(./images/icons/service-icon.png)"></div>
				<p class="description">내 손으로 만들어낸 작품이 세상의 빛을 보는 순간입니다. 내 아이디어가 구현되어 여러 사람이 사용하는 것은 가슴 벅찬 일입니다.</p>
        <p class="description">첫 프로젝트 런칭 이후 여러분은 더욱 많은 프로젝트를 하고 싶은 욕구로 가득 찰 것입니다. </p>
			</div>	
			<!-- End Icons -->	
		</div>
	</div>
	<!-- End About Page -->
	
	
	<!-- Start First Parallax Background (Quote) -->	
	<div id="parallax1">
		<div class="bg1"></div>
		<div class="pattern"></div>
		<div class="container">
			<div class="vertical-text">
				<p class="prlx-quote">Change the world with coding.</p>
			</div>
		</div>
	</div>
	<!-- End First Parallax Background (Quote) -->
	
	
	<!-- Start Culture Page -->
	<div id="founders" class="page">
		
		<div class="container">
			<div class="sixteen columns">
				<h1>Founders</h1>
        <hr>
      </div>
    </div>
		<div class="container">
			<!-- Start Profile -->
			<div class="eight columns">

        <div class="info-block" style="padding:13px 4px 4px 14px">
            <h4 style="margin-bottom:7px;">이두희</h4>
        </div>

        <div class="img-wrp">
          <img alt="" class="scaleimg" src="images/team/master-duhee.png" />
          <div class="overlay-wrp">
            <div class="overlay"></div>
            <ul class="social-icons overlay-content">
              <li><a href="//facebook.com/iam.duhee"><i class="icon-facebook"></i></a></li>
              <li><a href="//twitter.com/iamdoo2"><i class="icon-twitter"></i></a></li>
            </ul>
          </div>
        </div>
				<div class="tabs">
					<ul>
						<li id="tab1" class="current">소개</li>
						<li id="tab2">만든것들</li>
						<li id="tab3">써낸것들</li>
					</ul>
					
					<div class="tab-content-wrp">
						<div id="tab1-content" class="tab-content active">
              <p>- <u>네오위즈게임즈</u>&nbsp;Neoply 센터 기술팀 일개 직원, 2014</p>
              <p>- <u>멋쟁이사자처럼</u>&nbsp;설립, 2013</p>
              <p>- <u>울트라캡숑</u>&nbsp;창업 및 대장, 2011 - 2012 (카카오에 매각됨)</p>
              <p>- <u>서울대학교 iOS 어플</u>&nbsp;개발, 2010 (서울대에서 공식 어플 인정)</p>
              <p>- 서울대학교 강의평가&nbsp;<u>snuev.com</u>&nbsp;기획/개발/운영 총괄, 2008</p>
              <p>- 서울대학교 웹개발동아리&nbsp;<u>와플스튜디오</u>&nbsp;설립 및 대장, 2007</p>
              <p>- 서울대학교&nbsp;<u>전산원 관리자 권한을 어쩌다 획득</u>&nbsp;후, 교수님께 혼남, 2006</p>
              <p>- <u>egloos 관리자 권한 획득</u>&nbsp;후, egloos 개발자분들께 칭찬받음, 2006</p>
              <p>- 1, 2학년 학점 1.97 기록, 2004</p>
						</div>
						
						<div id="tab2-content" class="tab-content">
              <p>- 서울대학교 총학생회 온라인 투표&nbsp;<u>보트피플</u>&nbsp;개발, 2013</p>
              <p>- 명지대, 숙대 강의평가 등&nbsp;<u>10여개 대학교 강의평가</u>&nbsp;개발, 2012</p>
              <p>- <u>klassmate</u>,&nbsp;<u>미팅학개론</u>,&nbsp;<u>너말고니친구</u>&nbsp;기획/개발, 2012</p>
              <p>- <u>드림컨설턴트</u>&nbsp;개발, 2010</p>
              <p>- 스타트업&nbsp;<u>Frograms</u>,&nbsp;<u>스윗토리</u>&nbsp;개발팀, 2010</p>
              <p>- 서울대학교 강의평가&nbsp;<u>snuev.com</u>&nbsp;기획/개발총괄/운영, 2008</p>
              <p>- 서울대학교 성희롱/성폭력 상담소&nbsp;<u>성희롱 예방교육</u> 개발, 2008</p>
              <p>- 게임제작 도구, <u>조물조물</u> 기획/개발, 서울대 컴퓨터공학전 1위, 2006</p>
              <p>- <u>Zigbee USN Network Monitoring</u> 기획/개발, 산업자원부장관상 2006</p>
              <p>- 3D 리듬게임 <u>Super Hand</u> 기획/개발, 서울대 컴퓨터공학전 2위, 2004</p>
						</div>
						
						<div id="tab2-content" class="tab-content" style="line-height:140%;">
              <p style="font-weight:bold;text-decoration:underline;font-size:110%;">번역서</p>
              <p>- 이두희, 이범기, 전재호,&nbsp;<u>카산드라 따라잡기</u>, 에이콘 출판사, 2013</p>
              <p>- 이성원, 윤주식, 이두희,&nbsp;<u>아이폰 기능을 무한 확장할 수 있는 아이폰 액세서리 디바이스 개발</u>, 에이콘출판사, 2011</p>
              <p style="font-weight:bold;text-decoration:underline;font-size:110%;">논문</p>
              <p>- Duhee Lee, Jong-Chan Kim, Chang-Gun Lee, Kanghee Kim, <u>mRT-PLRU: A General Framework for Real-Time Multi-Task Executions on NAND Flash Memory</u>,in IEEE Transactions on Computers, Vol. 62, No. 4, Apr. 2013. <span style="color:#ff8585;">(SCI)</span></p>
              <p>- Jong-Chan Kim, Duhee Lee, Chang-Gun Lee, Kanghee Kim, <u>RT-PLRU: A New Paging Scheme for Real-Time Execution of Program Codes on NAND Flash Memory for Portable Media Players</u>, in IEEE Transactions on Computers, Vol. 60, Issue 8, pp. 1126-1141, Aug. 2011. <span style="color:#ff8585;">(SCI)</span></p>
              <p>- Duhee Lee, Chang-Gun Lee, Kanghee Kim, <u>A Generic Framework for Real-Time Program Executions on NAND Flash Memory in Multi-Tasking Embedded Systems</u>, in 30th IEEE Real-Time Systems Symposium (RTSS), Washington, D.C., USA, Dec. 2009. <span style="color:#ff8585;">(SCI)</span></p>
              <p>- Duhee Lee, Chang-Gun Lee, Kanghee Kim, <u>Real-time code execution on NAND flash memory supporting wide-spectrum of input data for multiple tasks</u>, in International Workshop on Software Support for Portable Storage (IWSSPS) in conjunction with ESWEEK, France, Oct. 2009.</p>
              <p>- Jong-chan Kim, Duhee Lee, Chang-Gun Lee, Kanghee Kim, Eun Young Ha, <u>Real-Time Program Execution on NAND Flash Memory for Portable Media Players</u>, in 29th IEEE Real-Time Systems Symposium (RTSS), Barcelona, Spain , Nov. 2008. <span style="color:#ff8585;">(SCI)</span></p>
              <p>- Duhee Lee, Jong-Chan Kim, Chang-Gun Lee, <u>Practical Paging Strategy for Real-Time Code Execution of Media Player on NAND Flash Memory</u>, in The International Workshop on Software Support for Portable Storage (IWSSPS) in conjunction with ESWEEK, Atlanta, USA, 2008.</p>
              <p style="font-weight:bold;text-decoration:underline;font-size:110%;">특허</p>
              <p>- Chang-Gun Lee, Oh-Chul Kwon, Kang-Wook Kim, Kyoung-Soo We, Jae-Hwa Han, Myung-Gon Park, Duhee Lee, Jong-Chan Kim, Jusung Kim, and Sangmin Jeong, <u>문자 입력 방법 및 장치, No. 10-1296145</u>, Aug. 2013</p>
              <p>- Chang-Gun Lee, Oh-Chul Kwon, Kang-Wook Kim, Kyoung-Soo We, Jae-Hwa Han, Myung-Gon Park, Duhee Lee, and Jong-Chan Kim, <u>해상도 전환을 위한 스마트폰의 플랫폼, No. 10-1209144</u>, Nov. 2012</p>
              <p>- Chang-Gun Lee, Oh-Chul Kwon, Kang-Wook Kim, Kyoung-Soo We, Jae-Hwa Han, Myung-Gon Park, Duhee Lee, and Jong-Chan Kim, <u>소형전자장치에서의 문자 입력 장치 및 방법, No. 10-1141728</u>, Apr. 2012</p>
              <p>- Oh-Chul Kwon, Kang-Wook Kim, Kyoung-Soo We, Duhee Lee, Jong-Chan Kim, Jusung Kim, Jae-Hwa Han, Sangmin Jeong, and Chang-Gun Lee, <u>다양한 입력장치를 수용할 수 있는 모바일 디바이스 및 그 방법, No. 10-2011-0128493</u>, Dec. 2011</p>
              <p>- Oh-Chul Kwon, Kang-Wook Kim, Kyoung-Soo We, Duhee Lee, Jong-Chan Kim, Jusung Kim, Jae-Hwa Han, Sangmin Jeong, and Chang-Gun Lee, <u>모바일 디바이스에서 외부 디스플레이 장치의 해상도에 맞는 화면을 제공하는 방법, No. 10-2011-0128494</u>, Dec. 2011</p>
              <p>- Chang-Gun Lee, Oh-Chul Kwon, Kang-Wook Kim, Kyoung-Soo We, Jae-Hwa Han, Myung-Gon Park, Duhee Lee, Jong-Chan Kim, Jusung Kim, and Sangmin Jeong, <u>문자 입력 방법 및 장치, No. PCT/KR2011/008182</u>, Oct. 2011</p>
              <p>- Chang-Gun Lee, Jong-Chan Kim, and Duhee Lee, <u>메모리 구조에 따른 메모리 관리 장치, No. 10-0987332</u>, Oct. 2010</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Profile -->	
			
			<!-- Start Profile -->			
			<div class="eight columns">
        <div class="info-block" style="padding:13px 4px 4px 14px">
          <h4 style="margin-bottom:7px;">최용철</h4>
        </div>
        <div class="img-wrp">
          <img alt="" class="scaleimg" src="images/team/master-charles.png" />
          <div class="overlay-wrp">
              <div class="overlay"></div>
              <ul class="social-icons overlay-content">
            <li><a href="//facebook.com/yongchol.choi"><i class="icon-facebook"></i></a></li>
              </ul>
          </div>
        </div>
				<div class="tabs">
					<ul>
						<li id="tab1" class="current">소개</li>
					</ul>
					<div class="tab-content-wrp">
						<div id="tab1-content" class="tab-content active">
              <p>- <u>(주)라이크라이언</u> 창업 및 대표, 2013</p>
              <p>- <u>멋쟁이사자처럼</u> 설립, 2013</p>
              <p>- 안드로이드 무선 조종 미니카 <u>카두이노</u> , 서울대 창의공학설계 2위, 2012</p>
              <p>- 애완 동물 돌보는 원격제어 로봇 <u>펫시터</u>,  창원창업경진대회 2위, 2012</p>
              <p>- 2011년 <u>MIT-Global Startup Workshop in Seoul 조직위원회</u>, 2011</p>
              <p>- 서울대학교 학생벤처네트워크 <u>snusv 18대 회장</u>, 2011</p>
              <p>- <u>비올레타, 사랑해!</u> 창업, 2011</p>
              <p>- <u>플레이코업</u> 창업, 2011</p>
              <p>- 제11회, 제12회 <u>대한민국 대학생벤처창업 경진대회 조직위원회</u>, 2010</p>
						</div>
					</div>
        </div>
			</div>
			<!-- End Profile -->	
		</div>
	</div>
	<!-- End Culture Page --> 
	
	
	<!-- Start Second Parallax Background (Twitter) -->
	<div id="parallax2">
	    <div class="bg2"></div>
	    <div class="pattern"></div>
	    <div class="container">
	    </div>
	</div>
	<!-- End Second Parallax Background (Twitter) -->
	
	<!-- Start Services Page -->
	<div id="members" class="page">
		<div class="container">
			<div class="sixteen columns">
				<h1>Members</h1>
				<div class="one-text" style="margin-bottom:5px;">
					<p>멋쟁이 사자처럼의 각 대학교 선생님들과 학생들입니다. </p>
          <hr>
				</div>
			</div>  
    <div>
			<!-- Start Project -->
      <% [@sejong, @khu, @kaist, @snu_yonsei, @ajou, @gachon, @hanyang, @korea, @mju, @ssu, @uos].shuffle.each do |x| %>
        <% teacher_flag = true %>
        <div class="container">
          <div class="info-block" style="padding:13px 4px 4px 14px;background:black;">
            <h4 style="margin-bottom:7px;color:white;"><%= x[0] %></h4>
          </div>

          <% x[1].each do |y| %>
            <% teacher = if !y[3].nil? then "&nbsp;선생님".html_safe else "" end %>
            <% if teacher_flag and(teacher == "") %>
              <% teacher_flag = false %>
              </div>
              <div class="container">
            <% end %>
            <div class="four columns">
              <div class="img-wrp">
                <img class="scaleimg" src="<%= y[2]%>">
              </div>
              <p class="project-title"><%= y[0] %><%= teacher %></p>
              <p class="project-description" style="margin-bottom:0px;color:black;"><%= y[3] %></p>
              <p class="project-description"><%= y[1] %></p>
            </div>	
          <% end %>
        </div>
      <% end %>
    <!-- End Project -->
			
				
		</div>
			
	</div>
	<!-- End Services Page -->
	
	
	<!-- Start Third Parallax Background (Clients) -->
	<div id="parallax3" style="height:800px;">
    <div id="sponsor"></div>
		<div class="bg3"></div>
		<div class="pattern" style="height:800px;"></div>
		<div class="container">
			<div class="vertical-text">
				<h2 class="black">Sponsored by Google.com</h2>
			</div>
		</div>
	</div>
	<!-- End Third Parallax Background (Clients) -->
	
	
	<!-- Start Portfolio Page -->
	<div id="portfolio" class="page">
	
		<div class="container">
		
			<div class="sixteen columns">
				<h1>Portfolio</h1>
					<p class="lead">멋쟁이 사자처럼에서 만든 서비스입니다.</p>
					<hr>
			</div>
			
			<!-- Start Project -->
      <% @portfolio.each do |x| %>
			<div class="four columns">
        <div class="img-wrp">
          <img class="scaleimg" src="<%= x[3] %>" alt="Lorem ipsum." />
        </div>
				<p class="project-title"><%= x[0] %></p>
				<p class="project-description" style="margin-bottom:0px;color:black"><%= x[1] %></p>
				<p class="project-description"><%= x[2] %></p>
			</div>	
      <% end %>
			<!-- End Project -->
		</div> 	
	</div>
	<!-- End Portfolio Page -->
	
	<!-- Start Contact Page -->
	<div id="contact">
		<div class="pattern"></div>
		<div class="container">
			<div class="sixteen columns">
				
				<!-- Start Contact Block -->
				<div class="card">
					<h1 class="white">Contacts Us</h1>
					<div class="js-tabs">
            <div class="tab-content-wrp">
              <div class="lines tab-content active" style="border-top:none;">
                <h2><a href="mailto:tomato@likelion.net" >tomato@likelion.net</a></h2>
              </div>
            </div>
					</div>
					
          <div class="lines tab-content active" style="border-top:none;">
            <h2><a href="//facebook.com/likelion.net" >fb.com/likelion.net</a></h2>
          </div>
				</div>
				<!-- End Contact Block -->
				
			</div>
		</div>
	
		<div class="copyright">
			<p>&copy;2014 likelion.</p>
		</div>		
	
	</div>
	<!-- End Contact Page -->
	
	<!-- JavaScripts -->
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/supersized.3.2.7.min.js"></script>
	<script src="js/supersized.shutter.min.js"></script>
	<script src="js/supersized.images.js"></script>
	<script src="js/main.js"></script>
	<script src="js/jquery.parallax-1.1.3.js"></script>
  <!--
	<script src="js/twitter/jquery.tweet.js"></script>
	<script src="js/twitter-options.js"></script>
  -->
	<script src="js/paralax-ini.js"></script>
	<script src="js/scroll.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/selectnav.min.js"></script>
	<script src="js/jquery.isotope.min.js"></script>
	<script src="js/jquery.smartresize.js"></script>
	<script src="js/shortcodes.js"></script>
	<script src="js/jquery.fancybox.pack.js"></script>
	<script src="js/jquery.fancybox-media.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/contact.js"></script>
	<script>
	    $(window).load(function(){
	      $("nav").sticky({ topSpacing: 0, className: 'sticky', wrapperClassName: 'my-wrapper' });
	    });
    </script>
	
	<script>
		$(function(){
			$('.item').show();
			var $container = $('#portfolio_items');
			$container.isotope({
				itemSelector : '.item'
			});
			var $optionSets = $('.option-set'),
				$optionLinks = $optionSets.find('a');
			$optionLinks.click(function(){
				var $this = $(this);
				// don't proceed if already selected
				if ( $this.hasClass('selected') ) {
					return false;
				}
				var $optionSet = $this.parents('.option-set');
				$optionSet.find('.selected').removeClass('selected');
				$this.addClass('selected');
			// make option object dynamically, i.e. { filter: '.my-filter-class' }
			var options = {},
				key = $optionSet.attr('data-option-key'),
				value = $this.attr('data-option-value');
				
			// parse 'false' as false boolean
			value = value === 'false' ? false : value;
			options[ key ] = value;
				if ( key === 'layoutMode' && typeof changeLayoutMode === 'function' ) {
				// changes in layout modes need extra logic
				changeLayoutMode( $this, options )
			} else {
				// otherwise, apply new options
				$container.isotope( options );
			}    
			return false;
			});
			
			if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
				var $isMobile = true;
			}
			
			if(!$isMobile)
			{
				$(window).smartresize(function(){
					$container.isotope({
						masonry: { columnWidth: $container.width() / 12 }
					});
				});
			}
			else
			{
				$(window).bind('orientationchange', function(e){
					$container.isotope({
						masonry: { columnWidth: $container.width() / 12 }
					});
				});
			}
		});
	</script>
	
	<script type="text/javascript">
    	function moveTo(contentArea){
        	var goPosition = $(contentArea).offset().top;
        	$('html,body').animate({ scrollTop: goPosition}, 'slow');
        }
    </script>
    
    <script>
		selectnav('nav', {
			nested: true,
			indent: '-'
		});
    </script>

	<script>
		$(function(){
			//SyntaxHighlighter.all();
			});
				$(window).load(function(){
				$('.flexslider').flexslider({
				animation: "slide",
				start: function(slider){
				  $('body').removeClass('loading');
				}
			});
		});
	</script>
    
    <script>
		$(document).ready(function() {
			$(".fancybox").fancybox({
				padding : 0,
				beforeShow: function () {
				
							this.title = $(this.element).attr('title');
							this.title = '<h4>' + this.title + '</h4>' + $(this.element).find('img').attr('alt');
							
    
				            if (this.title) {
				                // New line
				                this.title += '<br />';
				                
				                // Add tweet button
				                this.title += '<a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="' + this.href + '">Tweet</a> ';
				                
				                // Add FaceBook like button
				                this.title += '<iframe src="//www.facebook.com/plugins/like.php?href=' + this.href + '&amp;layout=button_count&amp;show_faces=true&amp;width=500&amp;action=like&amp;font&amp;colorscheme=light&amp;height=23" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:23px;" allowTransparency="true"></iframe>';
				            }
				        },
		        afterShow: function() {
		            // Render tweet button
		            twttr.widgets.load();
		        },
				helpers : {
					title : { type: 'inside' },
				}
			});
			$('.fancybox-media').fancybox({
				openEffect  : 'none',
				closeEffect : 'none',
				helpers : {
					media : {},
				}
			});
		});
	</script>
		
</body>
